html{
    font-family:'Tahoma',
}
.btn1{
padding: 7px;
border: 2px solid rgb(36, 189, 34);
border-radius: 8px;
cursor: pointer;
width: 70px;
height: 30px;
background-color: white;
color: rgb(0, 0, 0);
}
.btn1:hover{
background-color: rgb(255, 255, 255);
color: rgb(0, 255, 0);
transition: 0.2s;
}
.btn2{
padding: 7px;
border: 2px solid rgb(189, 34, 34);
border-radius: 8px;
cursor: pointer;
width: 70px;
height: 30px;
background-color: white;
color: rgb(255, 0, 0);
}
.btn2:hover{
background-color: rgb(255, 255, 255);
color: rgb(208, 73, 73);
transition: 0.2s;
}
.btn3{
padding: 7px;
border: 2px solid rgb(196, 202, 35);
border-radius: 8px;
cursor: pointer;
width: 70px;
height: 30px;
background-color: white;
color: rgb(0, 0, 0);
}
.btn3:hover{
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 0);
transition: 0.2s;
}